/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto auto; /* change from rows to columns*/
  
  background-color: navy;
  padding: 3px;
}


.grid-container-2 {
  display: grid;
  /*grid-template-columns: auto auto auto; /* change from columns to rows*/
  
  grid-template-rows: 3fr 1fr 1fr 2fr; /*change the fraction */
  background-color: navy;
  padding: 3px;
}

.grid-container-3  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* adjust */
  grid-gap: 12px;
   
}

.grid-container-3 > div {
  background: aqua;
  padding: 24px;
  border-radius: 3px;
  font-size:80px;
  text-align:center;
  
}

.grid-container-4  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  grid-template-columns: auto auto auto;
    
}

.grid-container-4 > div {
  
  
  background: #f2f2f2;
  padding: 24px;
  border-style:solid;
  border-radius: 3px;
  border-color:aqua;
  font-size:80px;
  text-align:center;
  
}

.grid-4-item{
   
  /*adjust these values to change location of item */
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-row-start: 2;  */ 
  /* grid-row-end: 3;  */
  
  
}

.grid-container-5{
  
  display:grid;
 grid-template-columns: 120px 240px 120px 240px; 
  
    

}

.grid-container-5 > div{
  
  background: #f2f2f2;
  padding: 24px;
  border-style:solid;
  border-radius: 3px;
  border-color:aqua;
  font-size:80px;
  text-align:center;

}



.grid-item {
  background-color: #f2f2f2;
  border: 0.5px solid aqua;
  padding: 20px;
  font-size: 60px;
  text-align: center;
}
.grid-item:hover{
  background-color: yellow;
  
}
